<div class="container">
  <h1>Expense List</h1>
  <div class="formDiv">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Type</th>
          <th scope="col">Description</th>
          <th scope="col">Amount</th>
          <th scope="col">Date</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <th scope="row">{{item.type}}</th>
          <td>{{item.description}}</td>
          <td>{{item.amount}}</td>
          <td>{{item.date | date:"yyyyMMdd" }}</td>
          <button class="deleteButton" (click)="delete(item.id)">Delete</button>
        </tr>
      </tbody>
    </table>


  </div>
  <button class="createButton" (click)="add()">Add</button>

</div>
