.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 480px;
  height: 740px;
  padding: 20px;
  border-radius: 8px;
  border: solid 1px;
}

h1 {
  display: flex;
  justify-content: center;
  height: 31px;
  gap: 10px;

  font-family: SLB Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #278AFF;

}

.deleteButton{
  width: 50px;
  height: 24px;
  border-radius: 40px;
  border: solid 1px;
  border-color: #C7D0D8;
  background-color: red;

  font-family: SLB Sans;
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0.47999998927116394px;
  text-align: center;
  color: white
}

.formDiv {
  height: 80%;
  overflow: auto;
}


.createButton {
  height: 36px;
  border-radius: 4px;
  border: 1px;
  background-color: #278AFF;

  font-family: SLB Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF
}
